<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Instituto Costarricense de Acueductos y Alcantarillados</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/img/aya_logo1.png")" alt="Home" height="50" width="60"/></a>
                
                @*<img class="navbar-brand" src="~/img/aya_logo.png" />
                @Html.ActionLink("SICAI", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                <p class="navbar-brand">Instituto Costarricense de Acueductos y Alcantarillados</p>
            </div>
        </div>
    </div>
    <div id="wrapper" class="active">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" id="sidebar">
                <li>@Html.ActionLink("Contactos", "Index", "Home")</li>
                <li>@Html.ActionLink("Boletos", "Index", "Home")</li>
                <li>@Html.ActionLink("Trámites", "Index", "Home")</li>
            </ul>
            <img id="gota" src="~/img/Gota_pequena.png" />
        </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Instituto Costarricese de Acueductos y Alcantarillados</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
